<div class="white-text">
  <h1> About Us </h1>

  <h3> Taggd.it - A labor of love </h3>

  <p>  Taggd.it is a creation by <%= link_to "Robin", "http://www.linkedin.com/in/robinjsh" %> and <%= link_to "Scott", "http://www.linkedin.com/in/scottgolembiewski" %>.  While working through a program in Seattle for Ruby on Rails called <%= link_to "Code Fellows", "https://www.codefellows.org/" %>, we realized a similar interst in street art around the city.  This is our way of sharing our passion. </p>

  <p> We are always looking to improve the site, feel free to visit our <%= link_to "Github Page", "https://github.com/rjswenson/Taggd.it" %> and write an issue.</p>

  <p> Also, we are always looking for more projects.  Shoot a message on Linkedin and we'd be excited to hear from you. </p>
</div>
