<div class="white-text">
  <h1> Our Policy </h1>
  <h3> Taggd.it and you </h3>

  <p> This site is meant for people to share awesome art and graffiti they have seen around their areas.  It is NOT meant for law inforcement or any other enforcement agency to find and remove art in all of its forms. </p>

  <h4> Because of this, we require: </h4>
  <h5> By logging or creating an account, you agree: </h5>
  <ol>
    <li> You are not here to remove the art posted. </li>
    <li> You are not a member of law enforcement. </li>
    <li> You respect the community and its users. </li>
  </ol>

  <h5> Simple rules, if you have any questions <%= mail_to "rjswenson@gmail.com", "email me." %></h5>
</div>
