<div class="comment">
  <ul>
    <li><%= comment.body %></li>
    <li> By: <%= link_to @user.username, profile_path(@user) %> </li>

    <% if current_user.id == comment.user_id || current_user.admin? %>
      <li><%= button_to 'Edit', edit_comment_path(comment) %></li>
      <li><%= button_to 'Delete', comment_path(comment), method: :delete %></li>
    <% end %>
  </ul>
</div>

