<h1> You've broken the internet! </h1>

<%= image_tag('https://s3-us-west-2.amazonaws.com/assets.taggd/oops-graffiti-text.png', alt: "Oops, Page Missing") %>

<h4>The page you tried to visit doesn't exist</h4>

<p>Try again or start over by visiting the <%= link_to "Front Page", root_path %>.</p>
