// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn-twitter {
    border-color: #a6cde6;
    color: #327695;
    background: #cfe4f0;
    /* css3 */
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f1f5f7), to(rgba(255,255,255,0)));
    background-image: -webkit-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: -moz-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: -ms-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: -o-linear-gradient(#f1f5f7, rgba(255,255,255,0));
    background-image: linear-gradient(#f1f5f7, rgba(255,255,255,0));
    -webkit-box-shadow: inset 0 1px 0 #fff;
    box-shadow: inset 0 1px 0 #fff;
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active {
    color: #327695;
    border-color: #8dc2e4;
    background-color: #cadde9;
    background-position: 0;
}

.btn-twitter:active {
    background: #cadde9;
    -webkit-box-shadow: inset 0 1px 0 #bbd6e7;
    box-shadow: inset 0 1px 0 #bbd6e7;
}

/*
 * Icon
 */

.btn-twitter:before {
    margin: 0 0.6em 0 -0.6em;
    background-position: -22px 0;
}

.btn-twitter.large:before {
    background-position: -36px -22px;
}


.white-text {
  color: white;
}

.service {
  display: inline-block;
  padding: 8px 12px;
  margin-left: 25px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.modal {
  position:fixed;
  top:10%;
  left:50%;
  z-index:1050;
  width:400px;
  margin-left: -291px;
  background-color: transparent;
  border:1px solid #999;
  border:1px solid rgba(0, 0, 0, 0.3);
  *border:1px solid #999;
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow:0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip:padding-box;
  -moz-background-clip:padding-box;
  background-clip:padding-box;
  outline:none;
}

.modal.fade {
  -webkit-transition:opacity .3s linear, top .3s ease-out;
  -moz-transition:opacity .3s linear, top .3s ease-out;
  -o-transition:opacity .3s linear, top .3s ease-out;
  transition:opacity .3s linear, top .3s ease-out;top:-25%;
}

#footer {
 padding-left: 3em;
 bottom: 0;
}

#footer .push {
  height: 100px;
}

body {
  background: url("https://s3-us-west-2.amazonaws.com/assets.taggd/hd1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome p {
border:2px solid #a1a1a1;
padding:10px 40px;
background:#eee;
width:800px;
height:600px;
border-radius:5px;
font-size:30px;
margin-left:300px;
line-height:80px;
opacity:0.8;
}

.modal-content {
  padding:15px;
}
.top-zone {
  position:absolute;
  margin-left: 15px;
  z-index:80;
  width:100%;
  line-height:12px;
  height:56px;
  background:#000;
  opacity:0.8;
  filter:alpha(opacity=40);
  padding:7px 0 0 7px;
  width: 100% !important;
}

.myart {
  margin-left: auto;
  margin-right: auto;
  width:600px;
}

.new_image_box {
  background:#dedede;
  width:600px;
  margin: 0 auto 0 auto;
  border: solid #a1a1a1 1px;
  border-radius: 5px;
  text-align: center;
  input {
    width: 450px;
  }
  input {
    padding: 2px;
    margin: 0 auto 0 auto;
  }
}

@media (max-width: 610px) {
  .new_image_box {
    width: 300px;
    input {
      width: 200px;
    }
  }
}

.banner {
  background:#dedede;
  width: 95%;
  height:150px;
  margin: 0 auto 20px auto;
  padding-left:40px;
  border:3px solid #a1a1a1;
  border-radius:5px;
}

.custom-container {
  background:#dedede;
  width: 95%;
  margin: 0 auto 30px auto;
  padding-top: 0px;
  border:3px solid #eee;
  border-radius:5px;
  z-index: 50;
}

.myuploads {
  margin: 20px auto 50px auto;
  background-color: #dedede;
  border: 1px solid black;
  border-radius: 5px;
  width: 95%;
  position: block;
  padding: 10px;

  .btn-custom {
    margin: -30px 0 0 75%;
    position: fixed;
    width: 18%;
    text-align: center;
    font-size: 1.3em;
  }

}
.profile-pic {

}

.thumbnails {
  margin-left:25px;
  margin-top:5px;
  padding-bottom:30px;
  padding-top:30px;
}

.show ul {
  background:#dedede;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top:50px;
  padding-top: 50px;
  padding: 20px;
  border: 3px solid #fff;
  border-radius: 5px;

}
@media (min-width: 768px) {
  .show-uploads li {
    list-style-type:none;
    img {
      max-width: 700px;
      max-height: 700px;
    }
  }
}

@media (min-width: 992px) {
  .show-uploads li {
    list-style-type:none;
    img {
      max-width: 850px;
      max-height: 850px;
    }
  }
}
@media (min-width: 1200px) {
  .show-uploads li {
    list-style-type:none;
    img {
      max-width: 1000px;
      max-height: 1000px;
    }
  }
}

.show-uploads li {
  list-style-type: none;
  img {
    margin: 0 auto 0 auto;
    max-width: 100%;
  }
}

.btn-custom {
  background-color: hsl(26, 78%, 11%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e37520", endColorstr="#311906");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#e37520), to(#311906));
  background-image: -moz-linear-gradient(top, #e37520, #311906);
  background-image: -ms-linear-gradient(top, #e37520, #311906);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e37520), color-stop(100%, #311906));
  background-image: -webkit-linear-gradient(top, #e37520, #311906);
  background-image: -o-linear-gradient(top, #e37520, #311906);
  background-image: linear-gradient(#e37520, #311906);
  border-color: #311906 #311906 hsl(26, 78%, 1%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.66);
  -webkit-font-smoothing: antialiased;
  margin-bottom: -0.8em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  position: relative;

}

h5 a {
  background: -webkit-linear-gradient(#fcb87c, #B05200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}



