// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#footer {
 padding-left: 3em;
 position: fixed;
 bottom: 0;
}

#footer .push {
  height: 100px;
}

body {
  background-color: black;
}

.top-zone {
  height: 55px;
  background: black;
  overflow-x: hidden;
  display: inline;
  margin-bottom: 30px;
}
