<div class="banner">
  <div class="images-title pull-left">
    <h2>Newest Uploads</h2>
    <h3> From around the World </h3>
  </div>
  <div class="upload-button pull-right">
    <h4> Or upload your own </h4>
    <br/>
    <%= link_to 'Upload', "#uploadModal", class: "btn-large btn-custom uploader", 'data-toggle' => 'modal' %>
  </div>
</div>

<div class="custom-container">
  <div class="all-images">
    <%= render @images %>
    <%= will_paginate @images %>
  </div>
</div>
