<div class="new_image_box">
  <div class="new_image">
    <h1>New image</h1>
      <% if current_user %>
        <%= render 'form' %>
      <% end %>
<%= link_to 'Back', images_path %>
  </div>
</div>
