<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">&copy; 2013</div>
      <div class="col-md-4">
        <ul class="nav nav-pills">
          <li><%= link_to "About Us", about_path %></li>
          <li><%= link_to "Github", "https://github.com/rjswenson/Taggd.it" %></li>
          <li><%= link_to "Policy", policy_path %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h4 class="text-right">Copyright 2013</h4>
      </div>
    </div>
  </div>
</div>
