<div class="navbar-right">
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
  <%= link_to "Sign up", new_user_registration_path %> //
  <%= link_to "Sign in", new_user_session_path %>
</div>

<div class = "navbar navbar-inverse navbar-fixed-top">
  <div class = "container">
    <ul class = "nav navbar-nav navbar-right">
      <li class = "active"><a href = "#">Taggd.it</a></li>
      <li><a href = "#">Blog</a></li>

      <li class = "dropdown">
        <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">Pictures <b class = "caret"></b></a>
        <ul class = "dropdown-menu">
          <li><a href = "#">Newest</a></li>
          <li><a href = "#">Most Popular</a></li>
          <li><a href = "#">Upload!</a></li>
        </ul>

      </li>
      <li><a href = "#">About</a></li>
      <li><a href = "#">Contact</a></li>

    </ul>
  </div>
</div>
